<div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">grow your business with us</p>
           <div class="row">
            <div class="col-md-6 col-sm-12 hero-text ">
                <figure>
                  <img src="images/about.svg" alt="herosec" srcset="">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12 hero-text order-md-0  d-flex justify-content-center align-items-start flex-column">
                  <h1>WE ARE PROFESSIONAL DEVELOPERS</h1>
                  <P>Welcome to,<span class="bold-style"> NayakTech Solutions</span> Your Number One Source For All Things. We're Dedicated To Giving You The Very Best Of Work ,With A Focus On 3 Characteristics That is
                  Dependability , Customer Service , Uniqueness </P>
                  <button class="btn-style btn-primary">Read More</button>
            </div>
            
           </div> 
        </div>
      </div>
    </div>